h1{
    font-size: 3em;
    color: white;
    font-family: "Open Sans Condensed", sans-serif;
}

.page-header h1{
	color: #34495e;
}

h2{
	font-size: 2.2em;
	color: white;
	font-family: "Open Sans Condensed", sans-serif;
}

h2 a{
	color: white;
}

p{
    font-size: 1.2em;
    color: white;
    font-family: "Open Sans Condensed", sans-serif;
}

#qg{
	height: 200px;
	width: 350px;
}

#bluebg{
    background-color: #34495e;
    color: white;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 400;
    margin-top: 10px;
}

#mypicture{
    max-height: 10em;
    max-width: 10em;
}

#greybg{
    background-color: #95a5a6;
}

#navstyle{
    background-color: #95a5a6;
}

.navtext{
    color: white !important;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.5em;
    font-weight: 200;
}

#dropbg{
	background-color: #95a5a6;
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
	padding-top: 5px;
}

ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}

.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}

.social-network a.icoGithub:hover{
    background-color: #000;
}

.social-network a.icoTwitter:hover i,
.social-network a.icoGithub:hover i,
.social-network a.icoLinkedin:hover i {
	color:#fff;
}

a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}

.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}

.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.social-circle a {
 background-color: #95a5a6;   
}

#contactbtn{
	background-color: #34495e;
}

#demobtn{
	background-color: #34495e;
}

#footer {
    background-color: #34495e;
    margin-top: 2em;
    color: white;
    text-align: center;
    font-family: "Sans Open Condensed", sans-serif;
    height: 5em;
    margin-bottom: 0px;
}

@media (max-width:767px){
	#bluebg{
		text-align: center;
	}
	#bluebg img{
		display: block;
		margin: auto;
	}
}

